# Comparison Operator

In [2]:
x = 10
y = 9
print(x > y)
print(x < y)
print( x==y)

True
False
False

# Conditional Statements

## If- Else

In [3]:
var1 = 0
if var1>0:
    print("Positive")
elif var1<0:
    print("Negative")
else:
    print("Equal to Zero")

Equal to Zero

# Ternary Operator

In [4]:
var1 = 2
var2 = 8
minimum = var1 if var1< var2 else var2
print(minimum)

2

# Loops

## While loop

In [ ]:
a = 8
while a <= 100:
    print(a)
    if a == 18:
        break
    a+= 1

print("Series printed")

## For loop

In [ ]:
countries = ["India", "South Korea", "Japan"]
for i in countries:
    print(countries[i])

## continue

In [ ]:
for i == "Japan":
    continue
    print(countries[i])

In [ ]:
for x in range(9):
    print(x)

In [ ]:
for x in range(2,9,3):
    print(x)