# Data types

## Numbers

In [20]:
a = 2
d = 4
print("a")
print(a)
print(d)

a
2
4

In [3]:
b = 10.3
print(b)
c = True
print(c)

10.3
True

In [4]:
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'bool'>

In [5]:
num1 = 8 + 2j
num2 = 2 + 9j
sub = num1 - num2
print(sub)
print(type(sub))

(6-7j)
<class 'complex'>

In [15]:
str1 = "Python"
print(type(str1))
print("Python\nis\nneeded\nfor\nML")

<class 'str'>
Python
is
needed
for
ML

## Arithmetic Operators

In [22]:
print(d/a)
print(d%a)
print(d*a)
print(d**a)

2.0
0
8
16

In [24]:
print("Value of a is ", a)
print("Value of b is ", b)

Value of a is  2
Value of b is  10.3

In [31]:
print(' {} {} '.format('i' ,'smile'))

 smile happy

In [32]:
print(' {:d} '. format(89))

 89

In [33]:
print(' {:08.4f} '. format(4.12))  #printing total 8 characters with 4 after decimal

 004.1200

## Logical operators

In [38]:
s1 = True
s2 = False
print(s1 and s2)
print(s1 or s2)
print(not s1)
print(not s2)

False
True
False
True

## List

In [2]:
list1 = ["Litchi", "Grapes", "Mango", "Watermelon"]
print(list1[2])
print(list1[1:3])
print(list1[:-1])
print(list1[:1])
print(list1[1:])
print(list1[::-1])
list2 = ["Up", "In", "The", "Clouds"]

Mango
['Grapes', 'Mango']
['Litchi', 'Grapes', 'Mango']
['Litchi']
['Grapes', 'Mango', 'Watermelon']
['Watermelon', 'Mango', 'Grapes', 'Litchi']

In [56]:
list2 = ["Up", "In", "The", "Clouds"]
list2.remove("The")
print(list2)

['Up', 'In', 'Clouds']

In [53]:
list2.pop(0)
print(list2)

['In', 'Clouds']

In [44]:
list1.pop()     #removes last element
print(list1)

['Grapes', 'Mango']

In [3]:
list1.append("Oranges")
print(list1)

['Litchi', 'Grapes', 'Mango', 'Watermelon', 'Oranges']

In [4]:
list1.insert(2, "Banana")
print(list1)

['Litchi', 'Grapes', 'Banana', 'Mango', 'Watermelon', 'Oranges']

# Tuples

In [5]:
tuple1 = ("science", "fiction", "movie", "anime")
print(tuple1)
print(type(tuple1))

('science', 'fiction', 'movie', 'anime')
<class 'tuple'>

# Dictionary

In [6]:
d1 = {"Swati": "girl", "Nikhil": "boy"}
print(d1)
print(d1["Swati"])

{'Swati': 'girl', 'Nikhil': 'boy'}
girl

# Sets

In [7]:
set1 = {2,3,9, 5,6,6,2}
print(type(set1))
print(set1)

<class 'set'>
{2, 3, 5, 6, 9}