# Reading and Writing to Files

In [2]:
import pandas as pd
import numpy as np

In [16]:
car_data = pd.read_csv("/Users/Swati/Downloads/Car_sales.csv")
car_data

,Index,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,1,Acura,Integra,Small,12.9,15.9,18.8,25,31,None,...,5,177,102,68,37,26.5,11.0,2705,non-USA,Acura Integra
1,2,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,...,5,195,115,71,38,30.0,15.0,3560,non-USA,Acura Legend
2,3,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,...,5,180,102,67,37,28.0,14.0,3375,non-USA,Audi 90
3,4,Audi,100,Midsize,30.8,37.7,44.6,19,26,Driver & Passenger,...,6,193,106,70,37,31.0,17.0,3405,non-USA,Audi 100
4,5,BMW,535i,Midsize,23.7,30.0,36.2,22,30,Driver only,...,4,186,109,69,39,27.0,13.0,3640,non-USA,BMW 535i
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,89,Volkswagen,Eurovan,Van,16.6,19.7,22.7,17,21,None,...,7,187,115,72,38,34.0,NaN,3960,non-USA,Volkswagen Eurovan
89,90,Volkswagen,Passat,Compact,17.6,20.0,22.4,21,30,None,...,5,180,103,67,35,31.5,14.0,2985,non-USA,Volkswagen Passat
90,91,Volkswagen,Corrado,Sporty,22.9,23.3,23.7,18,25,None,...,4,159,97,66,36,26.0,15.0,2810,non-USA,Volkswagen Corrado
91,92,Volvo,240,Compact,21.8,22.7,23.5,21,28,Driver only,...,5,190,104,67,37,29.5,14.0,2985,non-USA,Volvo 240
92,93,Volvo,850,Midsize,24.8,26.7,28.5,20,28,Driver & Passenger,...,5,184,105,69,38,30.0,15.0,3245,non-USA,Volvo 850

In [17]:
type(car_data)

pandas.core.frame.DataFrame

In [22]:

# car_Manufacturers = data.groupby('Manufacturer')
# df = car_Manufacturers['Manufacturer','Passengers'].max()
# print(df.max())

In [41]:
import pandas as pd
import numpy as np
car_Manufacturers = car_data.groupby('Manufacturer')
df = car_Manufacturers['Passengers'].max()
print(df.max())
car_data[car_data['Passengers'] == 8] ["Index"]

# row = car_data.loc[92]
# print(row)

8

16    17
Name: Index, dtype: int64

# Writing

In [17]:
dummy_data = pd.DataFrame(np.arange(15).reshape(5,3), columns = "C1 C2 C3".split())
dummy_data

   C1  C2  C3
0   0   1   2
1   3   4   5
2   6   7   8
3   9  10  11
4  12  13  14

In [18]:
dummy_data.to_csv("Dummy_data.csv", index = False)

# Excel Files

## Reading

In [25]:
sample_data = pd.read_excel("food sales.xlsx")
sample_data

        X       Y
0  0.7833  0.3562
1  0.9473  0.4253
2  0.6751  0.3762
3  0.7813  0.6773
4  0.4782  0.8378
5  0.1781  0.7181
6  0.3721  0.9372

## Writing data

In [26]:
dummy_data.to_excel("Excel_sample.xlsx", sheet_name= "Sheet1", index = False)

In [27]:
print(dummy_data)

   C1  C2  C3
0   0   1   2
1   3   4   5
2   6   7   8
3   9  10  11
4  12  13  14

# Text Files

## Writing data to text files

In [28]:
dummy_data.to_csv("test.txt", index = False)

## Reading data to text files

In [29]:
dat = pd.read_csv("test.txt")
print(type(dat))
print(dat)

<class 'pandas.core.frame.DataFrame'>
   C1  C2  C3
0   0   1   2
1   3   4   5
2   6   7   8
3   9  10  11
4  12  13  14

# HTML

In [30]:
dummy_data.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>C1</th>\n      <th>C2</th>\n      <th>C3</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>0</td>\n      <td>1</td>\n      <td>2</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>3</td>\n      <td>4</td>\n      <td>5</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>6</td>\n      <td>7</td>\n      <td>8</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>9</td>\n      <td>10</td>\n      <td>11</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>12</td>\n      <td>13</td>\n      <td>14</td>\n    </tr>\n  </tbody>\n</table>'

In [32]:
url = "Lists.html"
html_data = pd.read_html(url)
type(html_data)

list

In [37]:
pd.set_option("display.max_rows", 2)
type(html_data[0])