# Panda

## Panda Data Structure

### Series

In [2]:
import numpy as np
import pandas as pd

### Creating panda series using lists

In [3]:
fruits = ['Mango','Banana','Grapes','Oranges']
quantity = [20,10,20, 10]

In [4]:
fruit_inventory = pd.Series(quantity, index = fruits)
print(type(fruit_inventory))
print(fruit_inventory)

<class 'pandas.core.series.Series'>
Mango      20
Banana     10
Grapes     20
Oranges    10
dtype: int64

In [5]:
print(fruit_inventory['Mango'])

20

In [10]:
print(fruit_inventory.values)

[20 10 20 10]

In [12]:
print(fruit_inventory.index)

Index(['Mango', 'Banana', 'Grapes', 'Oranges'], dtype='object')

In [13]:
print(fruit_inventory.mean())

15.0

In [15]:
print(fruit_inventory.min())

10

In [16]:
#series iterations
for ind, val in fruit_inventory.iteritems():
    print(ind, val)

Mango 20
Banana 10
Grapes 20
Oranges 10

## Creating panda series from dictionary

In [18]:
fruit_dictionary = {'Mango': 20, 'Banana': 10,'Grapes': 20,'Oranges': 10}
print(pd.Series(fruit_dictionary))

Mango      20
Banana     10
Grapes     20
Oranges    10
dtype: int64

## Creating panda series from numpy array

In [19]:
arr = np.arange(0,7)

In [20]:
series = pd.Series(arr)
print(series)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
dtype: int32

In [ ]:
ser